header {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    padding: 1em;
    background-color: #2e10b4;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #464342
  }

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
}

.amazon {
    grid-column: 1/2;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.amazon-left-img {
    float: left;
    padding: 1em;
}

.disney {
    grid-column: 2/3;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.disney-left-img {
    float: left;
    padding: 1em;
}

.trader-joes {
    grid-column: 3/4;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.trader-joes-left-img {
    float: left;
    padding: 1em;
}

p {
    font-family: 'Arimo',Georgia,sans-serif;
    line-height:20px;
}