header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    padding: 1em;
    background-color: #2e10b4;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #464342
  }

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}