body {
    background-color:white;
}

header {
    display: grid;
    grid-template-columns: auto;
}

.title {
    background-color: white;
    align-items: center;
    margin: 10px;
    max-width: 100%;
    border-radius: 20px;
    padding: 1em;
    background-color: #2e10b4;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #464342
}
  

main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto; 
}

.amazon {
    grid-column: 1/2;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.disney {
    grid-column: 2/3;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.trader {
    grid-column: 3/4;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

image {
    max-width: 100%;
    height: auto;
    padding: 1em;
}

p {
    font-family: 'Arimo',Georgia,sans-serif;
    line-height:20px;
}