
#content {max-width:960px;margin:0 auto;}

body {
    background-color:white;
}

header {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    padding: 1em;
    background-color: #2e10b4;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #464342
}
  

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
}

section {
    grid-column: span 2;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

image {
    float: left;
    padding: 1em;
}

p {
    font-family: 'Arimo',Georgia,sans-serif;
    line-height:20px;
}