#content {max-width:960px;margin:0 auto;}

body {
    background-color:white;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    align-items: center;
}
  
.title-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    padding: 1em;
    background-color: #2e10b4;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #464342
}

.title-name {
    padding: 1em;
    grid-column: 2/4;
    max-width: 100%;
    vertical-align: middle;
    color: white;
    text-shadow: 8px 8px #464342;
}

.name-line {
    padding: 1em;
    grid-column: 2/4;
    max-width: 100%;
    vertical-align: middle;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto; 
}

.amazon {
    grid-column: 1/2;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.disney {
    grid-column: 2/3;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

.trader {
    grid-column: 3/4;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em 1em .5em 1em; 
}

image {
    max-width: 100%;
    height: auto;
    padding: 1em;
}

p {
    font-family: 'Arimo',Georgia,sans-serif;
    line-height:20px;
}